.container {
  display: flex;
  min-width: 164px;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  align-items: center;
}

.calculator {
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
  background-color: #77B;
  padding: 1%;
  border-radius: 25px;
  box-shadow: 2px 17px #999, -2px 17px #999, 0px 17px #777, 20px 20px 20px rgba(0,0,0,.1), 0px 0px 90px rgba(0,0,0,.2), -20px 20px 20px rgba(0,0,0,.1);
}



.btn {
  background-color: #EEE;
  box-sizing: border-box;
  margin: 2%;
  height: 60px; 
  flex: 1 0 20%;
  justify-content: center;
  border: solid 3px #CCC;
  border-radius:100px;
  font-size: 30px;
  color: #333;
  box-shadow: 0px 7px #999, 2px 7px #999, -2px 7px #999;
}

.btn:hover {
  border-color: #B8B8B8;
  background-color: #BBB;
}

.btn:active {
  box-shadow: 0px 3px #999, 2px 3px #999, -2px 3px #999;
  transform:translateY(4px);
}

.big {
  flex: 2 0 38%;
}

.bigger {
  flex: 3 0 66%;
}


.screen {
  box-sizing: border-box;
  min-height: 87px;
  flex: 1 0 82%;
  border: solid 3px #CCC;
  margin: 2% 2% 8% 2%;
  padding: 15px;
  font-size: 44px;
  text-align: right;
  background-color: #333;
  color: #CCC;
  border-radius: 15px;
} 


